<div class = holder>
  <svg
    class = screen
    attr.viewBox = "0 0 {{width}} {{height}}">
  
    <g>
      <path
        *ngFor = "let segment of image.segments"
        [attr.d] = segment.path>
      </path>
    </g>
  
    <circle
      #heading
      class = heading
      [attr.cx] = headingPoint.x
      [attr.cy] = headingPoint.y
      r = 2></circle>
  </svg>

  <div class="controls">
    <div class="control control--x">
      <span></span>
    </div>
    <div class="control control--y">
      <span></span>
    </div>
  </div>
</div>